.module-blog{
    margin: 0;
    font-size: 1.2rem;
}

.additional_content img{
    width: 100%;
    height: 500px;
}

.side-body-container{
    margin: 0;
    margin-bottom: 2em ;
}

.side-body-container:last-child{
    margin-bottom: 0;
    
}

.side-img{
    width: 160px;
    height: 140px;
    min-width: 100px;
}

.side-description{
    box-sizing: border-box;
    padding: 20px 20px;
    margin-left: -5px;
    font-size: .8em;
    text-align: left;
}

.side-name:link{
    text-decoration:none;
    display: inline-block;
    margin-top: 5px;
    width: 155px;
}

.blog-social-wrapper{
    display: flex;
    gap: 1em;
    justify-content: center;
}

.blog-social-media{
    width: 50px;
    height: auto;
}

.ymal-vid-container{
    width: 100%;
}

.ymal-vid{
    margin-bottom: 10px;
}

.ymal-vid-container iframe{
    width: 100%;
    height: auto;
    
}

@media (max-width: 991px){
    .side-img{
        width: 300px; 
    }

    .side-name:link{
        font-size: 1em;
    }

    .side-description {
        padding: 0;
        font-size: .8em;
    }

    .ymal-vid-wrapper{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        gap: 1em;
    }

}

@media (max-width: 575px){
    .side-img{
        width: 100px;
    }

    .side-name:link{
        font-size: .7em;
        width: 100px;
    }

    .side-description {
        padding: 0;
        font-size: .8em;
    }
}
